@CHARSET "ISO-8859-1";
body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 auto;
	padding: 10px;
	height: auto;
	width: auto;
	overflow: hidden;
	background-image: -webkit-gradient(
		linear,
		right bottom,
		right bottom,
		color-stop(0, #E2F0E8),
		color-stop(0.43, #C3E3C3),
		color-stop(1, #E2F0E8)
	);
	background-image: -o-linear-gradient(right bottom, #E2F0E8 0%, #C3E3C3 43%, #E2F0E8 100%);
	background-image: -moz-linear-gradient(right bottom, #E2F0E8 0%, #C3E3C3 43%, #E2F0E8 100%);
	background-image: -webkit-linear-gradient(right bottom, #E2F0E8 0%, #C3E3C3 43%, #E2F0E8 100%);
	background-image: -ms-linear-gradient(right bottom, #E2F0E8 0%, #C3E3C3 43%, #E2F0E8 100%);
	background-image: linear-gradient(to right bottom, #E2F0E8 0%, #C3E3C3 43%, #E2F0E8 100%);
	background-repeat: no-repeat;
}

#content {
	width: 100%	;
	height: auto;
	position: absolute;
	clear: both;
}

#searchForm {
	clear: left;
	float: left;
	padding: 20px 20px 20px 5px;
	height: 30%;
	width: 28%;
	font-size: 0.9em;
	position: relative;
	display: inline-block;
}

#main-content {
	float: left;
	position: relative;
	margin-left: 0 0 0 10px;
	padding: 20px;
	width: 65%;
	display: inline-block;
	border-left: 1px solid #888;
}

input[type=text], input[type=password] {
	border:0; 
	padding:3px; 
	font-size:0.8em; 
	border:solid 1px #ccc; 
	margin:0 0 20px; 
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
	-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2); 
	-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2); 
	box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}

#searchForm input[type=text] {
	width:80px;
	text-align: center;
}

select {
	border:0; 
	padding:3px; 
	font-size:0.8em; 
	border:solid 1px #ccc; 
	margin:0 0 20px; 
	width:80px;
	text-align: center;
	-webkit-border-radius: 3px; 
	-moz-border-radius: 3px; 
	border-radius: 3px;
	-moz-box-shadow: inset 0 0 4px rgba(0,0,0,0.2); 
	-webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2); 
	box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
}

#searchForm input[type=submit] {
	width: 80px;
	height: 30px;
}

table {
	border: 1px solid #333;
	width: 80%;
}

thead {
	font-weight: bold;
	border: 1px solid #333;
	background-color: #dedede;
}

#clearing-div {
	clear: both;
}